/* Write your CSS here */
.comments-bg-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.comment-sub-container {
  width: 90%;
  max-width: 792px;
}
.comment-input-container {
  display: flex;
  flex-direction: column;
}
.input-sub-container {
  width: 90%;
  max-width: 350px;
}
@media screen and (min-width: 768px) {
  ..comment-sub-container {
    width: 70%;
  }
  .comment-input-container {
    flex-direction: row;
    justify-content: space-between;
  }
}
.heading {
  color: #1e293b;
  font-family: 'Roboto';
}
.comment-img {
  width: 248px;
  height: 185px;
}
.lg-image {
  display: none;
}
@media screen and (min-width: 768px) {
  .sm-image {
    display: none;
  }
  .lg-image {
    display: block;
    align-self: flex-end;
  }
  .comment-img {
    width: 300px;
    height: 240px;
  }
}
.paragraph {
  color: #475569;
  font-family: 'Roboto';
  font-size: 15px;
  font-weight: 500;
}
.form-container {
  display: flex;
  flex-direction: column;
}
.text-input {
  padding: 8px;
  margin-bottom: 10px;
  border-radius: 5px;
  border: 1px solid #cbd2d9;
  font-family: 'Roboto';
  outline: none;
}
.add-comment-btn {
  align-self: flex-start;
  background-color: #0284c7;
  border: none;
  color: #ffffff;
  font-family: 'Roboto';
  font-size: 12px;
  font-weight: 300;
  padding-left: 12px;
  padding-right: 12px;
  padding-top: 5px;
  padding-bottom: 5px;
  border-radius: 3px;
}
.comment-count-container {
  display: flex;
  align-items: center;
}
.comment-count {
  margin-right: 5px;
  font-family: 'Roboto';
  font-size: 10px;
  background-color: #0284c7;
  color: #ffffff;
  padding-left: 6px;
  padding-right: 6px;
  padding-top: 2px;
  padding-bottom: 2px;
  border-radius: 2px;
}
.count-description {
  font-family: 'Roboto';
  font-size: 12px;
  color: #334155;
  font-weight: 500;
}
